export(mice.impute.rfcont, mice.impute.rfcat, setRFoptions, makemar, simdata)
importFrom("stats", "predict", "rbinom", "rnorm")
importFrom("randomForest", "randomForest")
importFrom("mvtnorm", "rmvnorm")
import(mice)

